//Global Elements
a {

	color: $light_navy;
	text-decoration: none;

	&:hover	{
		color: $black_gray;
		text-decoration: underline;
	}

}

ul	{
	list-style-image: url(../img/blue-arrow.png);
}

label	{
	font-weight: bold;
	color: $dark_gray;
	font-size: .8em;
}

.input	{
	border: none;
	padding: .3em .8em;
	background: #fff;
	font-family: $base;
}

input[type=search]	{
	border-radius: 2em;
	-webkit-appearance: none;
	font-family: $base;
}

input[type=submit], a.button	{
	background: $med_navy;
	color: $white_gray;
	border: none;
	border-radius: .3em;
	padding: .3em .8em;
	font-family: $base;
	&:hover	{
		background: $light_navy;
	}
}

.content	{ //Main Content Elements

	h1, h2, h3, h4, h5	{
		&:first-child	{
			margin-top: 0;
		}
	}

	h1	{
		font-weight: 100;
		color: $dark_gray;
	}

	h2	{
		font-weight: normal;
		color: $brown_gray;
	}

	h3	{
		color: $light_navy;
	}

	p, ul, ol, blockquote {

		font-size: .95em;

		a {
			text-decoration: underline;
		}

	}

}

.gform_wrapper, .supporting {

	select {
		margin: 0 5px 0 0;
	}

	.ginput_complex {
		overflow: hidden;

		.ginput_full {
			overflow: hidden;

			label {
				display: block;
				margin: 5px 0 0 0;
				padding: 0;
			}
		}

		.ginput_left,
		.ginput_right {
			width: 50%;
			display: block;
			overflow: hidden;
			float: left;
			margin: 10px 0;
		}

		.ginput_right {

		}

		.ginput_left {
			padding: 0 10px 0 0;
		}
	}

	li.gfield {
		padding: 0;
		margin: 0;

		input[type=text] {
			margin: 0;
			display: block;
		}
	}

	.gfield_label {
		display: block;
		padding: 0;
		margin: 1em 0 0.25em 0;
	}

	.ginput_container {

	}

	.gfield_description {
		font-size: 11px;
		color: $brown_gray;
		margin: 5px 0;
		padding: 0;
	}

	.gfield_checkbox {
		padding: 0;
		margin: 5px 0;

		label {
			margin: 0 5px 0 0;
			padding: 0 0 0 5px;
		}

		li[class^=gchoice] {
			display: inline-block;
		}
	}

	form {

		ul	{
			list-style: none;
			padding: 0;
		}


		input, select	{
			margin-bottom: 1em;
		}

		textarea {
			width: 100%;
			padding: 1em;
		}

	}
}

.supporting { //Sidebar Elements

	h1, h2, h3, h4, h5	{
		&:first-child	{
			margin-top: 0;
		}
	}

	h1 {
		font-weight: 100;
	}

	h2	{
		font-weight: 100;
		color: $brown_gray;
	}

	.callout	{

		display: block;
		margin-bottom: .75em;
		border: 2px solid $light_gray;
		padding: .75em;
		background: $dark_navy;
		color: #fff;
		font-size: 1.4em;
		text-align: center;

		&:hover	{
			text-decoration: none;
			background: $light_navy;
		}

	}

}