.carousel	{

	text-align: left;
	float: left;
	background: #fff;
	padding: 1em;

	// addresses FOUC on initial load
	&.fouc-fix {
		max-height: 295px;
		overflow: hidden;
	}

	h3	{

		font-weight: normal;
		margin: 0 0 .1em 0;
		color: $red;

		a {
			color: $red;
		}

	}

	p {
		line-height: 1.4em;
		font-size: .9em;
		margin: 0;
		&:before	{
			content: url(../img/blue-arrow.png);
			margin-right: .4em;
			position: relative;
			top: -.1em;
		}
	}

	ul	{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.slide {

		display: block;
		float: left;
		width: 100%;
		padding: 0;

		.feature-info	{
			margin-bottom: 1em;
		}

		img {
			width: 100%;
			height: auto;
		}

		.feature {
			width: 100%;
			overflow: hidden;
		}

	}

	.carousel-tabs	{

		text-align: center;
		padding: .5em 0 0;
		margin: 0;
		clear: both;

		li {

			display: inline;
			margin-right: .6em;

			&:last-child	{
				margin-right: 0;
			}

			a {

				@extend .ir;
				background: $light_gray;
				display: inline-block;
				height: 10px;
				width: 10px;
				border-radius: 100%;

				&:hover	{
					background: $light_navy;
				}

			}

			&.carousel-active-tab	{

				a {
					background: $pale_blue;
				}

			}

		}

	}

	@media only screen and ($small)	{

		.slide	{

			.feature-info	{
				float: left;
				width: 26%;
				margin-right: 5%;
			}

			.feature	{
				width: 68%;
			}

		}

	}

	@media only screen and ($med)	{

		width: 58%;
		min-height: 410px;

	}

	@media only screen and ($large)	{

		width: 69%;

		h3	{
			margin-bottom: 0.4em;
		}

	}

}
