.fan	{

	display: block;
	padding: 1em;
	margin-bottom: 1em;
	background: #3B5998;
	border-radius: .5em;
	color: #fff;
	text-align: center;
	
	&:hover	{
		color: #fff;
		text-decoration: none;
	}

	span	{
		display: inline-block;
		position: relative;
		top: .15em;
		width: 100px;
		height: 20px;
		@extend .ir;
		background-image: url(../img/facebook.jpg);
		background-repeat: no-repeat;
		background-position: top left;
		background-size: auto 100%;
	}

}