.fine-print	{

	text-align: center;
	background: $mainbgcolor;
	margin: 0;
	position: relative;
	padding-top: 1em;
	font-size: .7em;
	
	a {
		color: $dark_navy;
	}
	
	p:last-child	{
		margin-bottom: 0;
		padding-bottom: 1em;
	}
	
	@media only screen and ($med)	{

		//top: -2.6em;
		margin-bottom: -2.6em;
	
	}
	
	@media only screen and ($large)	{
	
		//top: -4.6em;
		margin-bottom: -4.6em;
	
	}

}