#news	{

	@extend .clearfix;
	padding: 2em 1em 1em;
	margin-top: 1.7em;
	background: url(../img/tease-top.png) no-repeat top center;
	color: $contenttxt;
	
	section	{
		text-align: left;
		@extend .clearfix;
	}
	
	h2	{
		text-transform: uppercase;
		color: $brown_gray;
		font-size: 1em;
	}
	
	h3	{
		font-size: 1.4em;
		font-weight: normal;
		margin: 0 0 .8em 0;
		line-height: 1.1em;
	}
	
	img	{
		float: left;
		margin: 0 1em 1em 0;
	}
	
	p {
		font-size: .9em;
	}
	
	@media only screen and ($small)	{
	
		padding: 2em 0 1em;
	
	}
	
	@media only screen and ($med)	{
	
		section	{
			float: left;
			width: 48%;
			margin-right: 4%;
			&:last-child	{
				margin-right: 0;
			}
		}
	
	}

}

#home-content	{

	.home-widget { 
	
		@extend .clearfix;
	
		padding: 1% 2%;
		
		margin: 0;
		
		p {
			margin:2% 4%;
		}
	
		.widget-header {
			font-size:1em;
			color:#666;
			margin:4% 4% 1% 4%;
			font-weight: bold;
			font-size: 1.2em;
			line-height:1.3em;
			
			a {
				color:#2f5462;
				text-decoration: none;
				
				&:hover {
					color:#000;
				}
			}
		}
		
		.teaser	{
			background:#c8d1ce url('../img/taxi-button.png') 50% 40% no-repeat;
			xpadding:15px;
			border-radius:65px;
			-moz-border-radius: 65px;
			height:120px;
			width:120px;
			display:block;
			text-decoration: none;
			text-indent: -9000px;
			margin-right: 5%;
			
			float: left;
		}
		a.teaser:hover	{
			background-color:#fff;
		}
		
		.taxi	{
			background:#c8d1ce url('../img/taxi-button.png') 50% 40% no-repeat;
		}
		.appt	{
			background:#c8d1ce url('../img/dog-button.png') 50% 50% no-repeat;
		}
		.ask	{
			background:#c8d1ce url('../img/ask-button.png') 50% 50% no-repeat;
		}
		.adopt	{
			background:#c8d1ce url('../img/adopt-button.png') 50% 50% no-repeat;
		}
		
	}
	
	@media only screen and ($multicol)	{

		.home-widget {
			text-align: left;
		}
	}
		
	@media only screen and ($small)	{
	
		margin: 4% 0;
	
		.home-widget { 
			width: 32%;
			min-height:295px;
			float:left;
			background-color: $mainbgaccent;
			text-align: center;
			
			margin-right: 2%;
			
			&.last {
				margin-right: 0;
			}
			
			.teaser {
				margin: 0 auto;
				float: none;
			}
		}
	}
		
	@media only screen and ($med)	{
		
		.home-widget { 
			background: $mainbgaccent url(../img/widget-top-bg.png) center 18px no-repeat;
			padding: 2em;
		}
	}
}