// Base Layout
.content-trails	{
	
	@extend .clearfix;

	padding-top: 0;

	.supporting	{
		text-align: left;
		padding: 1em;
		background: #fff;
		
		.staff_by_location {
			
			@extend .clearfix;
			
			.location {
				
				float: left;
				width: 50%;
				
				@media only screen and ( $small ) {
					
					float: none;
					width: 100%;
				}
			}
		}
		
		
	
		.img {
			text-align: center;
		}
	}

	.content	{
		text-align: left;
		padding: 1em;
	}
	
	@media only screen and ($multicol)	{
	
		margin-bottom: 1em;
	
		.content	{
			padding: 0;
		}
	
	}
	
	@media only screen and ($small)	{
		
		.supporting	{
			float: left;
			width: 36%;
			margin: 0 4% 1em 0;
		}
		
		.content	{
			float: left;
			width: 60%;
			margin: 0 0 1em 0;
		}
		
	}

}