.location-block	{

	@extend .clearfix;
	
	img	{
		border: .2em solid #fff;
		margin-bottom: 1em;
	}
	
	.address	{
	
		clear: left;
		float: left;
		width: 46%;
		margin-right: 4%;
	
		h3	{
		
			margin-bottom: .2em;
		
			small	{
				display: inline-block;
				font-size: .5em;
				font-weight: normal;
				color: $brown_gray;
			}
			
			a {
				&:hover	{
					text-decoration: none;
				}
			}
		
		}
		
		p {
		
			font-size: .7em;
			margin-top: 0;
			
			a {
				text-decoration: none;
			}
			
		}
	
	}
	
	.hours	{
	
		h4	{
			margin-bottom: .2em;
		}
	
		ul	{
			list-style: none;
			padding: 0;
			margin-top: 0;
			font-size: .7em;
			color: $brown_gray;
		}
		
		strong	{
			text-transform: uppercase;
		}
	
	}
	
	@media only screen and ($multicol)	{
	
		img {
			float: left;
			width: 31%;
			margin-right: 3%;
			margin-top: 0 !important;
		}
		
		.address	{
			clear: none;
			float: left;
			width: 30%;
			margin-right: 3%;
		}
		
		.hours	{
			float: left;
			width: 30%;
			margin-right: 0;
		}
	
	}
	
	@media only screen and ($large)	{
	
		.address	{
			
			p {
				font-size: .9em;
			}
			
		}
		
		.hours	{
			
			ul	{
				font-size: .8em;
			}
			
		}
	
	}

}