.location-page	{

	header	{ // used with companion classes for locations: .temple-terrace, .north-bay, .pebble-creek, .cat-doctors (more can be easily added.)
		
		background: $locheaderbg;
		padding: 1em 1em 0;
		margin: -1em 0 1em 0;
		text-align: left;
		
		small	{
			text-transform: uppercase;
			letter-spacing: .25em;
			font-size: .7em;
			color: $med_gray;
		}
		
		h1	{
			color: #fff;
			font-weight: 100;
			font-size: 1.6em;
			margin: 0 0 .5em;
		}
		
		nav	{
		
			background: darken( $locheaderbg, 5% );
			padding: .1em 1em .3em;
			margin: 0 -1em -1em;
		
			ul	{
				list-style: none;
				padding: 0;
				margin: 0;
			}
			
			li {
			
				border-bottom: 1px solid $med_gray;
				padding: .3em 0;
			
				&:last-child	{
					border-bottom: none;
				}
				
				a:hover	{
					color: #fff;
					text-decoration: none;
				}
				
			}
		
		}
		
	}
	
	.content, .supporting	{
		margin-top: 2em;
	}
	
	.services-at-location {
	
		@extend .clearfix;
		
		padding-top: 4%;
		border-top: 2px solid $light_gray;
		
		.service-item {
			float: left;
			margin: 0 4% 4%;
		}
	}
	
	.location-details {
		
		@extend .clearfix;
	
		background: #fff;
		padding: 1em;
		
		ul {
			list-style: none;
			list-style-image: none;
			margin: 0;
			padding: 0;
		}
		
		.buttons {
			
			@extend .clearfix;
			
			border-top: 2px solid $light_gray;
			border-bottom: 2px solid $light_gray; 
			padding-top: 2%;
			
			li {
				float: left;
				margin: 0 4% 0 0;
				width: 30%;
				
				&.last {
					margin-right: 0;
				}
			}
		}
		
		.location-slides {
			
			width: 100%;
			margin-top: 2%;
			position: relative;
			
			img {
				width: 100%;
				height: auto;
			}
			
			.slidecontrols {
				display: none;
			
				a {
					position: absolute;
					z-index: 99;
					
					border-radius:8px;
					-moz-border-radius: 8px;
					padding: 1%;
					top: 48%;
					background-color: $white_gray;
					color: $dark_gray;
					
					&:hover {
						text-decoration: none;
					}
				
					&.carousel-next {
						right: 4%;
					}
					
					&.carousel-prev {
						left: 4%;
					}
				}
				
			}
			
			&:hover {
				
				.slidecontrols {
					display: block;
				}
			}
		}
		
		.location-button {
			margin: 4% 0;
		}
		
		.hours {
			color: $med_gray;
			text-align: left;
			
			p {
				padding-left: 4%;
			}
		}
		
		.info {
			text-align: left;
			
			.tiny {
				font-size: .7em;
			}
			
			p {
				padding-left: 8%;
				min-height: 24px;
			
				&.map {
					background: transparent url('../img/pin.png') top left no-repeat;
				}
				
				&.email {
					background: transparent url('../img/plane.png') top left no-repeat;
				}
				
				&.phone {
					background: transparent url('../img/phone.png') top left no-repeat;
				}
			}
			
		}
		
	}

	@media only screen and ($multicol)	{
	
		header	{
		
			margin: -1em -1em 1em;
			background-color: $locheaderbg;
			background-repeat: no-repeat;
			background-position: 95% 5%;
		
			&.temple-terrace	{
				background-image: url(../img/dog.png);
			}
			&.north-bay	{
				background-image: url(../img/nb-dog.png);
			}
			&.pebble-creek	{
				background-image: url(../img/pebble-dog.png);
			}
			&.cat-doctors	{ 
				background-image: url(../img/cat.png);
			}
		
		}
		
		.location-details {
			
			.location-slides {
				
				/*img {
					max-height: 362px;
				}*/
				
			}
		}
		
		.services-at-location {
			.service-item {
				width: 42%;
				
				&.odd {
					clear: left;
				}
			}
		}
	
	}
	
	@media only screen and ($small)	{
	
		header {
			margin-top: -2em;
		}
	
		.supporting	{
			border-left: none;
			padding-left: 0;
		}
		
		.location-details {
			.location-left {
				float: left;
				width: 60%;
				margin: 0 4% 1em 0;
			}
			
			.location-right {
				float: left;
				width: 36%;
				margin: 0 0 1em 0;
				padding: 0 0 0 1em;
			}
			
			.hours {
			
				p {
					padding-left: 8%;
				}
				
			}
			
			.location-slides {
				/*img {
					max-height: 297px;
				}*/
			}
			
			.info {
			
				p {
					padding-left: 15%;
				}
			}
		}
	
	}
	
	@media only screen and ($med)	{
	
		header	{
			
			background-color: $locheaderbg;
			background-repeat: no-repeat;
			background-position: 95% 30%;
			
			h1	{
				font-size: 2em;
			}
		
			nav	{
			
				padding: .4em 1em;
			
				li {
					display: inline;
					border-bottom: none;
					margin-right: 1.5em;
					font-size: .8em;
				}
			
			}
		
		}
		
		.location-details {
			
			.location-slides {
				/*img {
					max-height: 362px;
				}*/
			}
		
		}
	
	}
	
	@media only screen and ($large)	{
	
		header	{
		
			nav	{
			
				li {
					margin-right: 1.5em;
					font-size: .9em;
				}
			
			}
		
		}
		
		.location-details {
			
			.location-slides {
			
				/*img {
					max-height: 426px;
				}*/	
			}
			
			.info {
			
				p {
					padding-left: 8%;
				}
			}
		}
	
	}
	
	@media only screen and ($xlarge)	{
	
		header	{
		
			nav	{
			
				li {
					margin-right: 2em;
					font-size: 1em;
				}
			}
		
		}
	
	}

}