.inner-container{
	width: 100%;
}
.side-menu{
	top:0;
	left:0;
	border-right: 0.5px solid $light_gray;
	padding: 21px;
	z-index: 2;
	.toggle{
		padding: 27px;
		cursor: pointer;
		background-image: url(../img/menu.svg);
		background-position: center;
		background-repeat: no-repeat;
	}
	.socials{
		padding-top: 165px;
		i {
			width: 20px;
			height: 20px;
			display: block;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin: 16px;
			&.icon-facebook {
				background-image: url(../img/icon_facebook_dark.svg);
			}

			&.icon-instagram {
				background-image: url(../img/icon_instagram_dark.svg);
			}

			&.icon-twitter {
				background-image: url(../img/icon_twitter_dark.svg);
			}

			&.icon-youtube {
				background-image: url(../img/icon_youtube_dark.svg);
			}
		}
	}
	#slide-down{
		padding: 27px;
		background-image: url(../img/arrow.svg);
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		position: fixed;
		bottom: 150px;
		left: 20px;
		transition: opacity .2s ease-in-out;
	}
}
body.sticky-body{
	#main{
		padding-top: 199px!important;
	}
}
header	{

	&.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		background: rgba(245, 249, 252, 0.95);
		box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
		z-index: 2;
		nav{
			padding-left: 160px;
		}
	}
	nav { // Main Navigation
		padding: 20px 160px 20px 65px;
		width: 100%;
		position: relative;
		clear: both;
		border-bottom: 0.5px solid $light_gray;

		h1 { // Logo Styles

			max-width: 107px;
			margin: 0;

			a {

				@extend .ir;
				display: block;
				width: 100%;
				height: 100%;
				background-image: url(../img/Logo.svg);
				background-repeat: no-repeat;


			}

		}

		ul{
			display: flex;
			margin: 0;
			padding: 0;
			li{
				padding: 17px 18px;
				a {
					color: $dark_gray;
					padding: 0;
					position: relative;
					&::before{
						content:'';
						position:absolute;
						bottom: -21px;
						left: calc(50% - 6px);
						width: 12px;
						height: 12px;
						border-radius: 50%;
						background-color: $med_navy;
						opacity: 0;
						transition: opacity .3s ease-in-out;
					}
					&:hover{
						text-decoration: none;
						color: $med_navy;
					}
				}
				&.current-menu-item{
					a{
						&:before{
							opacity: 1;
						}
					}
				}
			}
		}

		.booking{
			padding: 17px 50px 17px 74px;
			position: relative;
			border: 1px solid $dark_gray;
			color: $dark_gray;
			margin-left: 46px;
			&:hover{
				text-decoration: none;
			}
			&::before{
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				background-image: url(../img/phone.svg);
				left: 25px;
				top: 18px;
			}
		}
	}

}

.big-menu{
	transition: top .3s ease-in-out;
	position: absolute;
	top:-700px;
	left:0;
	width: 100%;
	background: $dark_navy;
	z-index: 5;
	opacity: 0.95;
	padding: 12px 30px 118px;
	//backdrop-filter: blur(25px);
	&.open{
		top: 0;
	}
	h1{
		color: white;
		margin: 69px;
	}
	ul{
		list-style: none;
		padding-left: 64px;
		li{
			padding: 15px 0;
			a {
				color: white;
				position: relative;
				font-size: 24px;
				line-height: 36px;

				&::before {
					content: '';
					position: absolute;
					top: 4px;
					left: -64px;
					width: 26px;
					height: 26px;
					border-radius: 50%;
					background-color: $pale_blue;
					opacity: 0;
					transition: opacity .3s ease-in-out;
				}

				&:hover {
					text-decoration: none;
					color: $footertxt;

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}

#back{
	position: fixed;
	width:100%;
	height: 100%;
	display: none;
	z-index: 4;
}