//@import "bourbon/bourbon";


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
  url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
  url('../fonts/poppins-extralight-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
  url('../fonts/poppins-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
  url('../fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
  url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
  url('../fonts/poppins-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-thin-webfont.woff2') format('woff2'),
  url('../fonts/poppins-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}

//Breakpoints
$multicol: 'min-width: 35em';
$small: 'min-width: 45em';
$med: 'min-width: 55em';
$large: 'min-width: 65em';
$xlarge: 'min-width: 75em';
$xxlarge: 'min-width: 85em';

//Type
$base: 'Poppins', sans-serif;

//Colors
$mainbgcolor: #5198b0;
$mainbgaccent: #f2f3eb;
$navbg: #465357;
$navtxt: #363636;
$contentbg: transparent;
$contenttxt: #555555;
$footerbg: #004A62;
$footertxt: #ffffff;
$locheaderbg: #2E3D41;


//Grays
$white_gray: #efefef;
$med_gray: #666666;

$light_gray: #cccccc;
$dark_gray: #363636;

$black_gray: #222222;
$brown_gray: #8D8E89;

//Brand Colors
$light_navy: #5198B0;

$pale_blue: #CAE0E7;
$med_navy: #1496A2;
$dark_navy: #0E546C;

$red: #D73347;
$red2: #D73348;

//Backgrounds
$mainbg: url(../img/Back.svg) no-repeat top left;


body {
    font-size: 14px;
    line-height: 1.5;
  background: $mainbg;
  font-family: $base;
  color: $dark_gray;
  background-size: cover;
  &.menu-open{
      overflow:hidden;
  }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}


.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*	{
	box-sizing: border-box;
}


//Base Element Styles
@import 'base-elements.scss';

//Main Header
@import 'main-header.scss';

//Main Container
@import 'main-container.scss';

//Main Footer
@import 'main-footer.scss';

//Fine Print
@import 'fine-print.scss';

//Main Homepage Introduction
@import 'homepage-cta.scss';

//Main Homepage Carousel
@import 'carousel.scss';

//Homepage News
@import 'home-news.scss';

//Template with Left Sidebar
@import 'left-sidebar.scss';

//Template with Right Sidebar
@import 'right-sidebar.scss';

//News & Blog
@import 'news.scss';

//Location Pages
@import 'locations.scss';

//Staff Pages
@import 'staff.scss';

//Services Page
@import 'services.scss';

//Misc Components
@import 'location-blocks.scss';
@import 'pawbox.scss';
@import 'subscribe.scss';
@import 'fan.scss';


//Print Styles
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/**** Instagram Feed ******/

.instagrams h2{
	color:#5198b0;
	text-align: left;
	font-weight: 100;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}

.instagrams h2 span{
	font-weight:900;
	color:#2c5362;
	}

.instagrams section {
    display: table;
    padding: .5em 0;
    background: rgb(200, 209, 206);
    -webkit-box-shadow: inset 0px 0px 14px -5px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px 0px 14px -5px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 14px -5px rgba(0,0,0,0.75);
}

.instagrams section{
	width:100% !important;
}

.mgl_instagram_pagination.mgl_instagram_skin_default{
	display:none;
}

a.mgl_instagram_photo {
    max-width: 150px;
    float: right;
}

.mgl_instagram_gallery div:last-of-type {
    float: right;
}

.TBVpets{
	max-width:100% !important;
	width:100%;
}

.TBVpets a.mgl_instagram_photo {
    max-width: 115px;
}


.PCPets, .TTpets, .CDpets, .NBPets, .TBVpets{
    max-width: 24.9%;
    display:inline;
    float:left;
}
.NBPets {
    float: left;
    max-width: 24.9%;
    display: inline;
    margin-right:0px;
}



.lowercallout {
  margin-bottom: 0em;
  font-size: 2em;
  position: relative;
  background: #EBECE5;
  display: table;
  margin: 0px auto !important;
  padding: 0 1em;
}

.homecopy {
  padding: 2.5em 2em 2em;
  display: block;
  margin-top: -1.4em;
  border: 1px solid #5198B0;
  margin-bottom: 2em;
  max-width: 1000px;
  margin: -1.4em auto 2em;
  background: url(../img/happydog.png);
  background-repeat: no-repeat;
  background-position: 100% -20%;
}

.homecopy a {
  color: #d73347;
}

a.mgl_instagram_photo {
  min-width: 135px;
}

span.mgl_instagram_text, .mgl_instagram_skin_default .mgl_instagram_photo .mgl_instagram_mask .mgl_instagram_info {
  display: none;
}

span.mgl_instagram_avatar {
  display: none;
}

span.mgl_instagram_info {
  display: none;
}

.entry-content img.size-full, .entry-content img.size-medium {
  width: auto;
  max-width: 10000px !important;
  float: none;
}

p.wp-caption-text {
  font-size: .8em;
  font-style: italic;
  max-width: 90%;
  display: block;
  margin: 0px auto;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


////// New Styles ////////////////

.flex{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.align-start{
  align-items: flex-start;
}

.align-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

a{
  font-size: 14px;
  line-height: 21px;
  color: $dark_gray;
}

.link-wrapper{
  cursor: pointer;
}

h1{
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
  margin: 0;
}

p{
  margin: 0;
}

.button-blue{
  background-color: $dark_navy;
  line-height: 28px;
  padding: 13px 45px;
  min-height: 55px;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.button-navy{
  background-color: $med_navy;
  line-height: 28px;
  padding: 13px 45px;
  min-height: 55px;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.l-h-30{
  line-height: 30px;
}

.circle-before{
  position: relative;
  &:before{
    content:'';
    position:absolute;
    top: -56px;
    left: -38px;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: $pale_blue;
    z-index: -1;
  }
}
.circle-after{
  position: relative;
  &:after{
    content:'';
    position:absolute;
    bottom: -35px;
    right: -22px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $pale_blue;
    z-index: -1;
  }
}

.two-column{
  >div:first-of-type{
    margin-right: 80px;
    max-width: 50%;
  }
}

.three-columns{
  >*{
    width: 24%;
  }
}

//Vertical margin

.m-35{
  margin: 35px 0;
}

.m-b-35{
  margin-bottom: 35px;
}

.m-b-65{
  margin-bottom: 65px;
}

.m-t-35{
  margin-bottom: 35px;
}

.m-10{
  margin: 10px 0;
}


// Horizontal margin
.m-24{
  margin: 0 24px;
}

// font-weight

.w-100{
  font-weight: 100;
}

.w-200{
  font-weight: 200;
}

.w-300{
  font-weight: 300;
}

.w-400{
  font-weight: 400;
}

.w-500{
  font-weight: 500;
}

.w-600{
  font-weight: 600;
}

.w-700{
  font-weight: 700;
}