@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-extralight-webfont.woff2") format("woff2"), url("../fonts/poppins-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"), url("../fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

body {
  font-size: 14px;
  line-height: 1.5;
  background: url(../img/Back.svg) no-repeat top left;
  font-family: "Poppins", sans-serif;
  color: #363636;
  background-size: cover; }
  body.menu-open {
    overflow: hidden; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle;
  max-width: 100%; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box; }

a {
  color: #5198B0;
  text-decoration: none; }
  a:hover {
    color: #222222;
    text-decoration: underline; }

ul {
  list-style-image: url(../img/blue-arrow.png); }

label {
  font-weight: bold;
  color: #363636;
  font-size: .8em; }

.input {
  border: none;
  padding: .3em .8em;
  background: #fff;
  font-family: "Poppins", sans-serif; }

input[type=search] {
  border-radius: 2em;
  -webkit-appearance: none;
  font-family: "Poppins", sans-serif; }

input[type=submit], a.button {
  background: #1496A2;
  color: #efefef;
  border: none;
  border-radius: .3em;
  padding: .3em .8em;
  font-family: "Poppins", sans-serif; }
  input[type=submit]:hover, a.button:hover {
    background: #5198B0; }

.content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content h5:first-child {
  margin-top: 0; }

.content h1 {
  font-weight: 100;
  color: #363636; }

.content h2 {
  font-weight: normal;
  color: #8D8E89; }

.content h3 {
  color: #5198B0; }

.content p, .content ul, .content ol, .content blockquote {
  font-size: .95em; }
  .content p a, .content ul a, .content ol a, .content blockquote a {
    text-decoration: underline; }

.gform_wrapper select, .supporting select {
  margin: 0 5px 0 0; }

.gform_wrapper .ginput_complex, .supporting .ginput_complex {
  overflow: hidden; }
  .gform_wrapper .ginput_complex .ginput_full, .supporting .ginput_complex .ginput_full {
    overflow: hidden; }
    .gform_wrapper .ginput_complex .ginput_full label, .supporting .ginput_complex .ginput_full label {
      display: block;
      margin: 5px 0 0 0;
      padding: 0; }
  .gform_wrapper .ginput_complex .ginput_left,
  .gform_wrapper .ginput_complex .ginput_right, .supporting .ginput_complex .ginput_left,
  .supporting .ginput_complex .ginput_right {
    width: 50%;
    display: block;
    overflow: hidden;
    float: left;
    margin: 10px 0; }
  .gform_wrapper .ginput_complex .ginput_left, .supporting .ginput_complex .ginput_left {
    padding: 0 10px 0 0; }

.gform_wrapper li.gfield, .supporting li.gfield {
  padding: 0;
  margin: 0; }
  .gform_wrapper li.gfield input[type=text], .supporting li.gfield input[type=text] {
    margin: 0;
    display: block; }

.gform_wrapper .gfield_label, .supporting .gfield_label {
  display: block;
  padding: 0;
  margin: 1em 0 0.25em 0; }

.gform_wrapper .gfield_description, .supporting .gfield_description {
  font-size: 11px;
  color: #8D8E89;
  margin: 5px 0;
  padding: 0; }

.gform_wrapper .gfield_checkbox, .supporting .gfield_checkbox {
  padding: 0;
  margin: 5px 0; }
  .gform_wrapper .gfield_checkbox label, .supporting .gfield_checkbox label {
    margin: 0 5px 0 0;
    padding: 0 0 0 5px; }
  .gform_wrapper .gfield_checkbox li[class^=gchoice], .supporting .gfield_checkbox li[class^=gchoice] {
    display: inline-block; }

.gform_wrapper form ul, .supporting form ul {
  list-style: none;
  padding: 0; }

.gform_wrapper form input, .gform_wrapper form select, .supporting form input, .supporting form select {
  margin-bottom: 1em; }

.gform_wrapper form textarea, .supporting form textarea {
  width: 100%;
  padding: 1em; }

.supporting h1:first-child, .supporting h2:first-child, .supporting h3:first-child, .supporting h4:first-child, .supporting h5:first-child {
  margin-top: 0; }

.supporting h1 {
  font-weight: 100; }

.supporting h2 {
  font-weight: 100;
  color: #8D8E89; }

.supporting .callout {
  display: block;
  margin-bottom: .75em;
  border: 2px solid #cccccc;
  padding: .75em;
  background: #0E546C;
  color: #fff;
  font-size: 1.4em;
  text-align: center; }
  .supporting .callout:hover {
    text-decoration: none;
    background: #5198B0; }

.inner-container {
  width: 100%; }

.side-menu {
  top: 0;
  left: 0;
  border-right: 0.5px solid #cccccc;
  padding: 21px;
  z-index: 2; }
  .side-menu .toggle {
    padding: 27px;
    cursor: pointer;
    background-image: url(../img/menu.svg);
    background-position: center;
    background-repeat: no-repeat; }
  .side-menu .socials {
    padding-top: 165px; }
    .side-menu .socials i {
      width: 20px;
      height: 20px;
      display: block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 16px; }
      .side-menu .socials i.icon-facebook {
        background-image: url(../img/icon_facebook_dark.svg); }
      .side-menu .socials i.icon-instagram {
        background-image: url(../img/icon_instagram_dark.svg); }
      .side-menu .socials i.icon-twitter {
        background-image: url(../img/icon_twitter_dark.svg); }
      .side-menu .socials i.icon-youtube {
        background-image: url(../img/icon_youtube_dark.svg); }
  .side-menu #slide-down {
    padding: 27px;
    background-image: url(../img/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    left: 20px;
    transition: opacity .2s ease-in-out; }

body.sticky-body #main {
  padding-top: 199px !important; }

header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: rgba(245, 249, 252, 0.95);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
  z-index: 2; }
  header.sticky nav {
    padding-left: 160px; }

header nav {
  padding: 20px 160px 20px 65px;
  width: 100%;
  position: relative;
  clear: both;
  border-bottom: 0.5px solid #cccccc; }
  header nav h1 {
    max-width: 107px;
    margin: 0; }
    header nav h1 a {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../img/Logo.svg);
      background-repeat: no-repeat; }
  header nav ul {
    display: flex;
    margin: 0;
    padding: 0; }
    header nav ul li {
      padding: 17px 18px; }
      header nav ul li a {
        color: #363636;
        padding: 0;
        position: relative; }
        header nav ul li a::before {
          content: '';
          position: absolute;
          bottom: -21px;
          left: calc(50% - 6px);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #1496A2;
          opacity: 0;
          transition: opacity .3s ease-in-out; }
        header nav ul li a:hover {
          text-decoration: none;
          color: #1496A2; }
      header nav ul li.current-menu-item a:before {
        opacity: 1; }
  header nav .booking {
    padding: 17px 50px 17px 74px;
    position: relative;
    border: 1px solid #363636;
    color: #363636;
    margin-left: 46px; }
    header nav .booking:hover {
      text-decoration: none; }
    header nav .booking::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url(../img/phone.svg);
      left: 25px;
      top: 18px; }

.big-menu {
  transition: top .3s ease-in-out;
  position: absolute;
  top: -700px;
  left: 0;
  width: 100%;
  background: #0E546C;
  z-index: 5;
  opacity: 0.95;
  padding: 12px 30px 118px; }
  .big-menu.open {
    top: 0; }
  .big-menu h1 {
    color: white;
    margin: 69px; }
  .big-menu ul {
    list-style: none;
    padding-left: 64px; }
    .big-menu ul li {
      padding: 15px 0; }
      .big-menu ul li a {
        color: white;
        position: relative;
        font-size: 24px;
        line-height: 36px; }
        .big-menu ul li a::before {
          content: '';
          position: absolute;
          top: 4px;
          left: -64px;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background-color: #CAE0E7;
          opacity: 0;
          transition: opacity .3s ease-in-out; }
        .big-menu ul li a:hover {
          text-decoration: none;
          color: #ffffff; }
          .big-menu ul li a:hover:before {
            opacity: 1; }

#back {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 4; }

#main {
  padding: 101px 160px 130px 65px;
  overflow: hidden; }
  #main .welcome-section .button-wrap {
    margin-top: 25px; }
  #main #searchform {
    background-color: white;
    padding: 15px;
    margin-top: 40px;
    position: relative; }
    #main #searchform::before {
      content: '';
      position: absolute;
      bottom: 31px;
      left: 32px;
      width: 24px;
      height: 24px;
      background-image: url(../img/search.svg);
      z-index: 2; }
    #main #searchform input#s {
      position: relative;
      border: none;
      font-size: 14px;
      line-height: 28px;
      padding-left: 61px;
      flex-grow: 1; }
      #main #searchform input#s::placeholder {
        color: #363636; }
      #main #searchform input#s:focus, #main #searchform input#s:active {
        border: none; }
    #main #searchform input#searchsubmit {
      padding: 13px 47px;
      background-color: #0E546C;
      border-radius: 0;
      line-height: 28px; }
    #main #searchform:after {
      content: '';
      position: absolute;
      bottom: -35px;
      right: -22px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #CAE0E7;
      z-index: -1; }
  #main .locations {
    margin-left: 27px; }
  #main .feature-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; }
    #main .feature-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #main .arrow-link-home {
    position: relative;
    padding: 5px 0; }
    #main .arrow-link-home:after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 64px;
      height: 8px;
      background-image: url(../img/arrow-link.svg);
      z-index: -1; }
    #main .arrow-link-home p {
      font-size: 16px;
      line-height: 24px; }
  #main .links-section {
    padding: 87px 0; }
  #main .description-section {
    padding: 127px 0; }
  #main .video-section {
    padding: 100px 0; }
  #main .services-section {
    min-height: 900px;
    padding: 150px 0; }
    #main .services-section .services-dog {
      width: 545px;
      background-image: url("../img/service-dog.png");
      background-position: bottom left; }
      #main .services-section .services-dog a {
        margin-top: 310px;
        margin-right: 75px; }
    #main .services-section .slider {
      width: calc(100% - 545px);
      position: relative; }
      #main .services-section .slider .swiper-container {
        position: absolute;
        width: 150%; }
      #main .services-section .slider .swiper-slide {
        min-width: 256px; }
        #main .services-section .slider .swiper-slide .image_container {
          margin-bottom: 34px; }
  #main .events-n-news-section {
    padding: 100px 0; }
  #main .slider-multiple .swiper-button-disabled {
    opacity: 1; }
  #main .slider-multiple .swiper-button-next, #main .slider-multiple .swiper-button-prev {
    position: static;
    height: 8px;
    justify-content: flex-start;
    margin-top: 0;
    padding: 44px 0; }
    #main .slider-multiple .swiper-button-next:after, #main .slider-multiple .swiper-button-prev:after {
      content: '';
      height: 8px; }
  #main .slider-multiple .swiper-button-prev {
    width: 64px;
    margin-right: 32px; }
    #main .slider-multiple .swiper-button-prev:after {
      width: 64px;
      background-image: url("../img/arrow-prev.svg"); }
  #main .slider-multiple .swiper-button-next {
    width: 160px; }
    #main .slider-multiple .swiper-button-next:after {
      width: 160px;
      background-image: url("../img/arrow-next.svg"); }
  #main .slider-multiple .slide-link {
    text-decoration: none; }
  #main .slider-multiple a:not(.slide-link) {
    display: none; }
  #main .slider-multiple .image_container {
    border: 5px solid #FFFFFF;
    filter: drop-shadow(5px -5px 25px rgba(0, 0, 0, 0.1));
    padding-bottom: 125%;
    height: 0;
    background-size: cover;
    background-position: center; }
  #main .content .voterDiv img {
    max-width: 100%; }
  #main .content img {
    height: auto;
    max-width: 65%;
    margin: 3%; }
    #main .content img[title=slideshow] {
      max-width: 94%; }
  #main .content .attachment img {
    max-width: 90%; }
  #main .content .alignleft,
  #main .content img.alignleft {
    display: inline;
    float: left;
    margin-right: 3%;
    margin-top: 1%; }
  #main .content .alignright,
  #main .content img.alignright {
    display: inline;
    float: right;
    margin-left: 3%;
    margin-top: 1%; }
  #main .content .vet-question-search a.main-categories {
    width: 24%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 115px 0 10px 0;
    display: block;
    float: left;
    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px; }
  #main .content .vet-question-search a#dogs {
    background: url(../img/dog-icon.png) no-repeat center 10px #4098b1; }
  #main .content .vet-question-search a#cats {
    background: url(../img/cat-icon.png) no-repeat center 15px #4098b1; }
  #main .content .vet-question-search a#reptiles {
    background: url(../img/reptile-icon.png) no-repeat center 20px #4098b1; }
  #main .content .vet-question-search a#birds {
    background: url(../img/bird-icon.png) no-repeat center 10px #4098b1; }
  #main .content .vet-question-search a:hover {
    opacity: .8; }
  #main .content .vet-question-search form#q-search {
    display: block;
    margin-top: 0;
    margin-bottom: 4%;
    width: 100%; }
  #main .content .vet-question-search input[type="text"] {
    float: left;
    width: 75%; }
  #main .content .vet-question-search input[type="submit"] {
    float: left;
    width: 20%;
    margin: 0 0 0 1%;
    padding: 1% 0.5%; }
  #main .content .question {
    margin: 3% 4%;
    font-size: .9em; }
    #main .content .question h3 {
      font-weight: normal;
      font-size: 1.1em; }
  #main .content .entry-meta {
    margin-top: 4%;
    border-top: 1px solid #cccccc;
    padding-top: 2%; }
  #main .content h2 .entry-meta {
    border-top: none !important; }
  #main .content .entry-utility {
    padding: 1% 2%;
    font-size: .8em; }
  #main .content #nav-below {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 0.8em;
    padding: 2% 0; }
  #main .content .mr_social_sharing img {
    max-width: 100%;
    width: 100%; }
  #main .content #comments {
    margin: 4% 0; }
    #main .content #comments .navigation {
      font-size: 0.8em;
      padding: 2% 0; }
    #main .content #comments form .comment-notes {
      font-size: 0.8em;
      font-style: italic; }
    #main .content #comments form p label {
      display: inline-block; }
    #main .content #comments form p .required {
      color: #D73347; }
    #main .content #comments form p input, #main .content #comments form p textarea {
      width: 100%; }
    #main .content #comments form p.form-allowed-tags {
      font-size: 0.8em;
      color: #666666; }
    #main .content #comments .commentlist {
      margin: 0;
      padding: 0;
      list-style: none;
      padding-bottom: 4%;
      margin-bottom: 4%;
      border-bottom: 1px solid #cccccc; }
      #main .content #comments .commentlist .comment {
        position: relative; }
        #main .content #comments .commentlist .comment .avatar {
          position: absolute;
          top: 1%;
          left: 0;
          width: 12%;
          height: auto; }
        #main .content #comments .commentlist .comment em.comment-awaiting-moderation {
          display: inline-block;
          padding-left: 17%;
          font-size: 0.7em;
          color: #666666; }
        #main .content #comments .commentlist .comment div div {
          padding-left: 17%; }
          #main .content #comments .commentlist .comment div div.comment-author {
            padding-top: 3%; }
            #main .content #comments .commentlist .comment div div.comment-author cite {
              font-weight: bold; }
          #main .content #comments .commentlist .comment div div.comment-meta {
            font-size: 0.8em; }
        #main .content #comments .commentlist .comment .children {
          list-style: none;
          list-style-image: none;
          padding-left: 15%; }
          #main .content #comments .commentlist .comment .children .children .children {
            /* FOURTH TIER. Let's remove that padding at this point... */
            padding-left: 0; }

footer {
  background: #004A62;
  color: #ffffff;
  text-align: left;
  padding: 87px 100px 50px;
  clear: both; }
  footer .menus {
    margin-bottom: 85px; }
    footer .menus .footer_menu {
      padding: 0 10px; }
      footer .menus .footer_menu a {
        color: #ffffff;
        position: relative; }
        footer .menus .footer_menu a::before {
          content: '';
          position: absolute;
          top: 4px;
          left: -28px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: #CAE0E7;
          opacity: 0;
          transition: opacity .3s ease-in-out; }
        footer .menus .footer_menu a:hover {
          text-decoration: none;
          color: #ffffff; }
          footer .menus .footer_menu a:hover:before {
            opacity: 1; }
      footer .menus .footer_menu h3 {
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 150%; }
      footer .menus .footer_menu ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        footer .menus .footer_menu ul li {
          line-height: 200%; }
  footer .socials {
    padding: 8px 0; }
    footer .socials i {
      width: 20px;
      height: 20px;
      display: block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 18px; }
      footer .socials i.icon-facebook {
        background-image: url(../img/icon_facebook.svg); }
      footer .socials i.icon-instagram {
        background-image: url(../img/icon_instagram.svg); }
      footer .socials i.icon-twitter {
        background-image: url(../img/icon_twitter.svg); }
      footer .socials i.icon-youtube {
        background-image: url(../img/icon_youtube.svg); }

.fine-print {
  text-align: center;
  background: #5198b0;
  margin: 0;
  position: relative;
  padding-top: 1em;
  font-size: .7em; }
  .fine-print a {
    color: #0E546C; }
  .fine-print p:last-child {
    margin-bottom: 0;
    padding-bottom: 1em; }
  @media only screen and (min-width: 55em) {
    .fine-print {
      margin-bottom: -2.6em; } }
  @media only screen and (min-width: 65em) {
    .fine-print {
      margin-bottom: -4.6em; } }

#cta {
  text-align: center; }
  #cta ul {
    list-style-image: url(../img/blue-arrow.png);
    font-weight: bold;
    color: #0E546C;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: inline-block;
    text-align: left; }
    #cta ul em {
      font-weight: normal;
      font-size: .8em; }
    #cta ul a:hover {
      text-decoration: none; }
    #cta ul .phone-no {
      font-size: .85em;
      margin: .6em 0 .95em;
      color: #1496A2;
      font-weight: 400;
      display: block; }
  @media only screen and (min-width: 35em) {
    #cta {
      margin: 0 auto 1em;
      display: inline-block; }
      #cta ul {
        float: left;
        margin: .35em 0 0;
        border-top: 1px solid #CAE0E7; }
      #cta li {
        padding: .375em 0;
        border-bottom: 1px solid #CAE0E7; } }
  @media only screen and (min-width: 45em) {
    #cta ul .phone-no {
      display: block;
      margin: 0px; } }
  @media only screen and (min-width: 55em) {
    #cta {
      float: left;
      margin: 0 2% 0 0;
      width: 40%;
      text-align: center;
      background-color: #f2f3eb;
      padding-top: 1em;
      padding-bottom: 1em; }
      #cta ul {
        float: none;
        border-top: none; }
      #cta li {
        padding: 0em 0;
        border-bottom: 1px solid #ddd; } }
  @media only screen and (min-width: 65em) {
    #cta {
      width: 29%; }
      #cta ul .phone-no {
        display: block;
        margin: 0px; } }

#callout {
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.575em;
  text-align: center;
  line-height: 1.2em;
  color: #5198B0; }
  #callout strong, #callout em {
    display: block; }
  #callout strong {
    font-size: 1.1025em; }
  #callout em {
    font-size: 2.05em;
    font-style: normal;
    font-weight: bold;
    line-height: .9em;
    color: #CAE0E7; }
  #callout span {
    display: inline-block;
    font-size: .65em;
    font-weight: normal;
    background: #CAE0E7;
    color: #fff;
    padding: .1em 1em;
    margin-top: .3em; }
  @media only screen and (min-width: 35em) {
    #callout {
      float: left;
      margin-right: 1em; } }
  @media only screen and (min-width: 55em) {
    #callout {
      float: none;
      margin-right: 0; } }

.carousel {
  text-align: left;
  float: left;
  background: #fff;
  padding: 1em; }
  .carousel.fouc-fix {
    max-height: 295px;
    overflow: hidden; }
  .carousel h3 {
    font-weight: normal;
    margin: 0 0 .1em 0;
    color: #D73347; }
    .carousel h3 a {
      color: #D73347; }
  .carousel p {
    line-height: 1.4em;
    font-size: .9em;
    margin: 0; }
    .carousel p:before {
      content: url(../img/blue-arrow.png);
      margin-right: .4em;
      position: relative;
      top: -.1em; }
  .carousel ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .carousel .slide {
    display: block;
    float: left;
    width: 100%;
    padding: 0; }
    .carousel .slide .feature-info {
      margin-bottom: 1em; }
    .carousel .slide img {
      width: 100%;
      height: auto; }
    .carousel .slide .feature {
      width: 100%;
      overflow: hidden; }
  .carousel .carousel-tabs {
    text-align: center;
    padding: .5em 0 0;
    margin: 0;
    clear: both; }
    .carousel .carousel-tabs li {
      display: inline;
      margin-right: .6em; }
      .carousel .carousel-tabs li:last-child {
        margin-right: 0; }
      .carousel .carousel-tabs li a {
        background: #cccccc;
        display: inline-block;
        height: 10px;
        width: 10px;
        border-radius: 100%; }
        .carousel .carousel-tabs li a:hover {
          background: #5198B0; }
      .carousel .carousel-tabs li.carousel-active-tab a {
        background: #CAE0E7; }
  @media only screen and (min-width: 45em) {
    .carousel .slide .feature-info {
      float: left;
      width: 26%;
      margin-right: 5%; }
    .carousel .slide .feature {
      width: 68%; } }
  @media only screen and (min-width: 55em) {
    .carousel {
      width: 58%;
      min-height: 410px; } }
  @media only screen and (min-width: 65em) {
    .carousel {
      width: 69%; }
      .carousel h3 {
        margin-bottom: 0.4em; } }

#news {
  padding: 2em 1em 1em;
  margin-top: 1.7em;
  background: url(../img/tease-top.png) no-repeat top center;
  color: #555555; }
  #news section {
    text-align: left; }
  #news h2 {
    text-transform: uppercase;
    color: #8D8E89;
    font-size: 1em; }
  #news h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 .8em 0;
    line-height: 1.1em; }
  #news img {
    float: left;
    margin: 0 1em 1em 0; }
  #news p {
    font-size: .9em; }
  @media only screen and (min-width: 45em) {
    #news {
      padding: 2em 0 1em; } }
  @media only screen and (min-width: 55em) {
    #news section {
      float: left;
      width: 48%;
      margin-right: 4%; }
      #news section:last-child {
        margin-right: 0; } }

#home-content .home-widget {
  padding: 1% 2%;
  margin: 0; }
  #home-content .home-widget p {
    margin: 2% 4%; }
  #home-content .home-widget .widget-header {
    font-size: 1em;
    color: #666;
    margin: 4% 4% 1% 4%;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.3em; }
    #home-content .home-widget .widget-header a {
      color: #2f5462;
      text-decoration: none; }
      #home-content .home-widget .widget-header a:hover {
        color: #000; }
  #home-content .home-widget .teaser {
    background: #c8d1ce url("../img/taxi-button.png") 50% 40% no-repeat;
    xpadding: 15px;
    border-radius: 65px;
    -moz-border-radius: 65px;
    height: 120px;
    width: 120px;
    display: block;
    text-decoration: none;
    text-indent: -9000px;
    margin-right: 5%;
    float: left; }
  #home-content .home-widget a.teaser:hover {
    background-color: #fff; }
  #home-content .home-widget .taxi {
    background: #c8d1ce url("../img/taxi-button.png") 50% 40% no-repeat; }
  #home-content .home-widget .appt {
    background: #c8d1ce url("../img/dog-button.png") 50% 50% no-repeat; }
  #home-content .home-widget .ask {
    background: #c8d1ce url("../img/ask-button.png") 50% 50% no-repeat; }
  #home-content .home-widget .adopt {
    background: #c8d1ce url("../img/adopt-button.png") 50% 50% no-repeat; }

@media only screen and (min-width: 35em) {
  #home-content .home-widget {
    text-align: left; } }

@media only screen and (min-width: 45em) {
  #home-content {
    margin: 4% 0; }
    #home-content .home-widget {
      width: 32%;
      min-height: 295px;
      float: left;
      background-color: #f2f3eb;
      text-align: center;
      margin-right: 2%; }
      #home-content .home-widget.last {
        margin-right: 0; }
      #home-content .home-widget .teaser {
        margin: 0 auto;
        float: none; } }

@media only screen and (min-width: 55em) {
  #home-content .home-widget {
    background: #f2f3eb url(../img/widget-top-bg.png) center 18px no-repeat;
    padding: 2em; } }

.content-trails {
  padding-top: 0; }
  .content-trails .supporting {
    text-align: left;
    padding: 1em;
    background: #fff; }
    .content-trails .supporting .staff_by_location .location {
      float: left;
      width: 50%; }
      @media only screen and (min-width: 45em) {
        .content-trails .supporting .staff_by_location .location {
          float: none;
          width: 100%; } }
    .content-trails .supporting .img {
      text-align: center; }
  .content-trails .content {
    text-align: left;
    padding: 1em; }
  @media only screen and (min-width: 35em) {
    .content-trails {
      margin-bottom: 1em; }
      .content-trails .content {
        padding: 0; } }
  @media only screen and (min-width: 45em) {
    .content-trails .supporting {
      float: left;
      width: 36%;
      margin: 0 4% 1em 0; }
    .content-trails .content {
      float: left;
      width: 60%;
      margin: 0 0 1em 0; } }

.content-leads {
  padding-top: 0;
  /* SIDEBAR STYLES CARRIED OVER FROM ORIGINAL THEME */ }
  .content-leads .supporting {
    text-align: left;
    padding: 1em;
    background: transparent; }
    .content-leads .supporting .widget-container {
      margin-bottom: 2em; }
    .content-leads .supporting form {
      background-color: #fff;
      border: 1px solid #cccccc;
      padding: 8%;
      font-size: .8em; }
    .content-leads .supporting .event span {
      display: block; }
  .content-leads .supporting .xoxo {
    /* widget-list ul */
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none; }
  .content-leads .content {
    text-align: left;
    padding: 1em; }
    .content-leads .content .pet-post img {
      margin-top: 3% !important; }
  .content-leads .petbutton {
    border: none !important;
    background-color: #363636;
    text-align: center;
    padding: 5% 10%;
    margin: 0 auto;
    max-width: 75%;
    display: block;
    color: #efefef; }
    .content-leads .petbutton:hover {
      background-color: #cccccc;
      color: #363636;
      text-decoration: none; }
  .content-leads .petlearnmore {
    color: #363636;
    font-size: 1.2em; }
  .content-leads #text-3 {
    background: #FFFFFF;
    border: 1px solid #D3D5CA;
    color: #909187;
    font-size: .8em !important;
    padding: .9em;
    float: left;
    width: 95%; }
    .content-leads #text-3 h2 {
      display: block; }
    .content-leads #text-3 p {
      margin-bottom: 1% !important; }
  .content-leads .widget_vetslocationwidget .post.location img {
    margin-right: 2%;
    width: 90%; }
  .content-leads .widget_vetslocationwidget .intro {
    float: left;
    width: 30%; }
  .content-leads .widget_vetslocationwidget .info {
    float: left;
    width: 69%; }
    .content-leads .widget_vetslocationwidget .info .hours {
      font-size: .7em;
      color: #8D8E89; }
    .content-leads .widget_vetslocationwidget .info .tiny {
      font-size: .7em;
      color: #8D8E89; }
  .content-leads #mycategoryorder-2 {
    float: left;
    width: 95%; }
    .content-leads #mycategoryorder-2 ul {
      margin: 0px !important;
      padding-left: 0px; }
    .content-leads #mycategoryorder-2 li {
      list-style: none;
      display: block;
      padding: 7px 11px;
      background: #F4F4EF;
      margin-bottom: 1px; }
      .content-leads #mycategoryorder-2 li a {
        text-decoration: none; }
      .content-leads #mycategoryorder-2 li:hover {
        background: #FFF; }
    .content-leads #mycategoryorder-2 h2 {
      background: #5F829D;
      padding: 1% 2%;
      margin-bottom: 1px !important;
      color: #FFF; }
  .content-leads .what_is_container {
    display: none !important; }
  .content-leads #recent-posts-4 {
    background: #C5C3B7;
    padding: 2.3%;
    float: left;
    width: 95%;
    border: 2px solid #B2B0A5; }
    .content-leads #recent-posts-4 h2 {
      display: block;
      color: #555555;
      font-weight: bold;
      padding-bottom: 10%;
      margin-bottom: 0 !important;
      text-transform: uppercase;
      background: url(../img/side-rule.gif) no-repeat bottom; }
    .content-leads #recent-posts-4 a {
      color: #555555; }
      .content-leads #recent-posts-4 a:hover {
        color: #000; }
    .content-leads #recent-posts-4 ul {
      list-style-type: square;
      list-style-image: none;
      padding-left: 20px; }
  .content-leads #tag_cloud-2 {
    float: left; }
    .content-leads #tag_cloud-2 .tagcloud {
      padding: 1% 2%;
      background: #F4F4EF; }
    .content-leads #tag_cloud-2 h2 {
      background: #5F829D;
      padding: 1% 2%;
      margin-bottom: 1px !important;
      color: #FFF; }
  .content-leads #text-4 {
    clear: both; }
    .content-leads #text-4 a.header-link {
      color: #555555;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.3em; }
  .content-leads .available-locations .location-box {
    width: 45%;
    float: left;
    text-align: center;
    margin: 2%; }
    .content-leads .available-locations .location-box .tiny {
      font-size: .7em; }
    @media only screen and (min-width: 45em) {
      .content-leads .available-locations .location-box {
        background-color: #f2f3eb;
        padding: 4%; } }
    @media only screen and (min-width: 65em) {
      .content-leads .available-locations .location-box {
        width: 23%;
        margin: 1%;
        padding: 3%; } }
  @media only screen and (min-width: 35em) {
    .content-leads {
      margin-bottom: 1em;
      padding-top: 2em; }
      .content-leads .content, .content-leads .supporting {
        padding: 0; } }
  @media only screen and (min-width: 45em) {
    .content-leads .content {
      float: left;
      width: 60%;
      margin: 0 4% 1em 0; }
    .content-leads .supporting {
      float: left;
      width: 36%;
      margin: 0 0 1em 0;
      border-left: 1px solid #8D8E89;
      padding: 0 0 0 1em; } }

.post {
  margin-bottom: 1.2em; }
  .post img {
    border: 2px solid #fff; }
    .post img:hover {
      border: 2px solid #5198B0; }
  .post h2 {
    margin: 0 0 .8em 0;
    line-height: 1.1em; }
  .post p a:last-child {
    display: inline-block; }
  @media only screen and (min-width: 35em) {
    .post .post-content {
      float: left;
      width: 70%;
      margin-right: 5%; }
    .post img {
      float: left;
      width: 30%;
      height: auto; } }

.more {
  display: block;
  background-color: #5198B0;
  color: #fff;
  padding: .2em .6em;
  border-radius: .3em;
  float: right; }
  .more:hover {
    color: #fff;
    text-decoration: none;
    background: #363636; }

.location-page header {
  background: #2E3D41;
  padding: 1em 1em 0;
  margin: -1em 0 1em 0;
  text-align: left; }
  .location-page header small {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: .7em;
    color: #666666; }
  .location-page header h1 {
    color: #fff;
    font-weight: 100;
    font-size: 1.6em;
    margin: 0 0 .5em; }
  .location-page header nav {
    background: #232f32;
    padding: .1em 1em .3em;
    margin: 0 -1em -1em; }
    .location-page header nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .location-page header nav li {
      border-bottom: 1px solid #666666;
      padding: .3em 0; }
      .location-page header nav li:last-child {
        border-bottom: none; }
      .location-page header nav li a:hover {
        color: #fff;
        text-decoration: none; }

.location-page .content, .location-page .supporting {
  margin-top: 2em; }

.location-page .services-at-location {
  padding-top: 4%;
  border-top: 2px solid #cccccc; }
  .location-page .services-at-location .service-item {
    float: left;
    margin: 0 4% 4%; }

.location-page .location-details {
  background: #fff;
  padding: 1em; }
  .location-page .location-details ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0; }
  .location-page .location-details .buttons {
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    padding-top: 2%; }
    .location-page .location-details .buttons li {
      float: left;
      margin: 0 4% 0 0;
      width: 30%; }
      .location-page .location-details .buttons li.last {
        margin-right: 0; }
  .location-page .location-details .location-slides {
    width: 100%;
    margin-top: 2%;
    position: relative; }
    .location-page .location-details .location-slides img {
      width: 100%;
      height: auto; }
    .location-page .location-details .location-slides .slidecontrols {
      display: none; }
      .location-page .location-details .location-slides .slidecontrols a {
        position: absolute;
        z-index: 99;
        border-radius: 8px;
        -moz-border-radius: 8px;
        padding: 1%;
        top: 48%;
        background-color: #efefef;
        color: #363636; }
        .location-page .location-details .location-slides .slidecontrols a:hover {
          text-decoration: none; }
        .location-page .location-details .location-slides .slidecontrols a.carousel-next {
          right: 4%; }
        .location-page .location-details .location-slides .slidecontrols a.carousel-prev {
          left: 4%; }
    .location-page .location-details .location-slides:hover .slidecontrols {
      display: block; }
  .location-page .location-details .location-button {
    margin: 4% 0; }
  .location-page .location-details .hours {
    color: #666666;
    text-align: left; }
    .location-page .location-details .hours p {
      padding-left: 4%; }
  .location-page .location-details .info {
    text-align: left; }
    .location-page .location-details .info .tiny {
      font-size: .7em; }
    .location-page .location-details .info p {
      padding-left: 8%;
      min-height: 24px; }
      .location-page .location-details .info p.map {
        background: transparent url("../img/pin.png") top left no-repeat; }
      .location-page .location-details .info p.email {
        background: transparent url("../img/plane.png") top left no-repeat; }
      .location-page .location-details .info p.phone {
        background: transparent url("../img/phone.png") top left no-repeat; }

@media only screen and (min-width: 35em) {
  .location-page header {
    margin: -1em -1em 1em;
    background-color: #2E3D41;
    background-repeat: no-repeat;
    background-position: 95% 5%; }
    .location-page header.temple-terrace {
      background-image: url(../img/dog.png); }
    .location-page header.north-bay {
      background-image: url(../img/nb-dog.png); }
    .location-page header.pebble-creek {
      background-image: url(../img/pebble-dog.png); }
    .location-page header.cat-doctors {
      background-image: url(../img/cat.png); }
  .location-page .location-details .location-slides {
    /*img {
					max-height: 362px;
				}*/ }
  .location-page .services-at-location .service-item {
    width: 42%; }
    .location-page .services-at-location .service-item.odd {
      clear: left; } }

@media only screen and (min-width: 45em) {
  .location-page header {
    margin-top: -2em; }
  .location-page .supporting {
    border-left: none;
    padding-left: 0; }
  .location-page .location-details .location-left {
    float: left;
    width: 60%;
    margin: 0 4% 1em 0; }
  .location-page .location-details .location-right {
    float: left;
    width: 36%;
    margin: 0 0 1em 0;
    padding: 0 0 0 1em; }
  .location-page .location-details .hours p {
    padding-left: 8%; }
  .location-page .location-details .location-slides {
    /*img {
					max-height: 297px;
				}*/ }
  .location-page .location-details .info p {
    padding-left: 15%; } }

@media only screen and (min-width: 55em) {
  .location-page header {
    background-color: #2E3D41;
    background-repeat: no-repeat;
    background-position: 95% 30%; }
    .location-page header h1 {
      font-size: 2em; }
    .location-page header nav {
      padding: .4em 1em; }
      .location-page header nav li {
        display: inline;
        border-bottom: none;
        margin-right: 1.5em;
        font-size: .8em; }
  .location-page .location-details .location-slides {
    /*img {
					max-height: 362px;
				}*/ } }

@media only screen and (min-width: 65em) {
  .location-page header nav li {
    margin-right: 1.5em;
    font-size: .9em; }
  .location-page .location-details .location-slides {
    /*img {
					max-height: 426px;
				}*/ }
  .location-page .location-details .info p {
    padding-left: 8%; } }

@media only screen and (min-width: 75em) {
  .location-page header nav li {
    margin-right: 2em;
    font-size: 1em; } }

.staff-box {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3%;
  margin-bottom: 3%; }
  .staff-box .staff-details img {
    float: left;
    width: 30%;
    margin-right: 2%; }
  .staff-box .staff-details p {
    float: left;
    width: 62%; }
  .staff-box .staff-details .tiny {
    font-size: .7em; }
  .staff-box .staff-description {
    clear: both;
    float: left;
    width: 100%; }
  @media only screen and (min-width: 35em) {
    .staff-box .staff-details {
      float: left;
      width: 26%;
      margin-right: 2%;
      padding: 2%;
      background-color: #CAE0E7; }
      .staff-box .staff-details .img-link {
        display: block;
        text-align: center; }
        .staff-box .staff-details .img-link img {
          width: 100%;
          float: none;
          margin-right: 0; }
      .staff-box .staff-details p {
        width: 100%;
        float: none;
        margin-right: 0; }
        .staff-box .staff-details p a {
          color: #1496A2; }
    .staff-box .staff-description {
      width: 68%;
      clear: none;
      float: right; } }

.service {
  overflow: hidden; }

.location-block img {
  border: .2em solid #fff;
  margin-bottom: 1em; }

.location-block .address {
  clear: left;
  float: left;
  width: 46%;
  margin-right: 4%; }
  .location-block .address h3 {
    margin-bottom: .2em; }
    .location-block .address h3 small {
      display: inline-block;
      font-size: .5em;
      font-weight: normal;
      color: #8D8E89; }
    .location-block .address h3 a:hover {
      text-decoration: none; }
  .location-block .address p {
    font-size: .7em;
    margin-top: 0; }
    .location-block .address p a {
      text-decoration: none; }

.location-block .hours h4 {
  margin-bottom: .2em; }

.location-block .hours ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  font-size: .7em;
  color: #8D8E89; }

.location-block .hours strong {
  text-transform: uppercase; }

@media only screen and (min-width: 35em) {
  .location-block img {
    float: left;
    width: 31%;
    margin-right: 3%;
    margin-top: 0 !important; }
  .location-block .address {
    clear: none;
    float: left;
    width: 30%;
    margin-right: 3%; }
  .location-block .hours {
    float: left;
    width: 30%;
    margin-right: 0; } }

@media only screen and (min-width: 65em) {
  .location-block .address p {
    font-size: .9em; }
  .location-block .hours ul {
    font-size: .8em; } }

.pawbox, .recent-posts, .staff-profiles {
  background: #C5C3B7;
  border: 2px solid #909187;
  padding: 1em;
  color: #555555; }
  .pawbox h2, .recent-posts h2, .staff-profiles h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #555555;
    padding-bottom: 2em;
    background: url(../img/side-rule.gif) no-repeat center bottom; }
  .pawbox ul, .recent-posts ul, .staff-profiles ul {
    padding-left: 1.5em;
    list-style: square; }
    .pawbox ul.staff, .recent-posts ul.staff, .staff-profiles ul.staff {
      list-style: none;
      padding-left: 0; }
      .pawbox ul.staff li, .recent-posts ul.staff li, .staff-profiles ul.staff li {
        display: inline-block;
        width: 4.6em;
        height: 4.6em; }
        .pawbox ul.staff li img, .recent-posts ul.staff li img, .staff-profiles ul.staff li img {
          border: 2px solid #fff;
          width: 100%;
          height: 100%; }
          .pawbox ul.staff li img:hover, .recent-posts ul.staff li img:hover, .staff-profiles ul.staff li img:hover {
            border: 2px solid #5198B0; }
    .pawbox ul li, .recent-posts ul li, .staff-profiles ul li {
      margin-bottom: .5em; }
  .pawbox a, .recent-posts a, .staff-profiles a {
    color: #555555; }
    .pawbox a.button, .recent-posts a.button, .staff-profiles a.button {
      color: #fff; }
      .pawbox a.button:hover, .recent-posts a.button:hover, .staff-profiles a.button:hover {
        text-decoration: none; }

.subscribe {
  margin-bottom: 1em;
  padding: 1em;
  background: #fff;
  border: 1px solid #cccccc; }

.fan {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  background: #3B5998;
  border-radius: .5em;
  color: #fff;
  text-align: center; }
  .fan:hover {
    color: #fff;
    text-decoration: none; }
  .fan span {
    display: inline-block;
    position: relative;
    top: .15em;
    width: 100px;
    height: 20px;
    background-image: url(../img/facebook.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir, header nav h1 a, .carousel .carousel-tabs li a, .fan span {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.ir:before, header nav h1 a:before, .carousel .carousel-tabs li a:before, .fan span:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, #main .content .vet-question-search:before, footer:before, #cta:before, #news:before, #news section:before, #home-content .home-widget:before, .content-trails:before, .content-trails .supporting .staff_by_location:before, .content-leads:before, .content-leads .available-locations:before, .post:before, .location-page .services-at-location:before, .location-page .location-details:before, .location-page .location-details .buttons:before, .staff-box:before, .location-block:before,
.clearfix:after,
#main .content .vet-question-search:after,
footer:after,
#cta:after,
#news:after,
#news section:after,
#home-content .home-widget:after,
.content-trails:after,
.content-trails .supporting .staff_by_location:after,
.content-leads:after,
.content-leads .available-locations:after,
.post:after,
.location-page .services-at-location:after,
.location-page .location-details:after,
.location-page .location-details .buttons:after,
.staff-box:after,
.location-block:after {
  content: " ";
  display: table; }


.clearfix:after,
#main .content .vet-question-search:after,
footer:after,
#cta:after,
#news:after,
#news section:after,
#home-content .home-widget:after,
.content-trails:after,
.content-trails .supporting .staff_by_location:after,
.content-leads:after,
.content-leads .available-locations:after,
.post:after,
.location-page .services-at-location:after,
.location-page .location-details:after,
.location-page .location-details .buttons:after,
.staff-box:after,
.location-block:after {
  clear: both; }

.clearfix, #main .content .vet-question-search, footer, #cta, #news, #news section, #home-content .home-widget, .content-trails, .content-trails .supporting .staff_by_location, .content-leads, .content-leads .available-locations, .post, .location-page .services-at-location, .location-page .location-details, .location-page .location-details .buttons, .staff-box, .location-block {
  *zoom: 1; }

/**** Instagram Feed ******/
.instagrams h2 {
  color: #5198b0;
  text-align: left;
  font-weight: 100;
  border-bottom: 1px solid;
  padding-bottom: 10px; }

.instagrams h2 span {
  font-weight: 900;
  color: #2c5362; }

.instagrams section {
  display: table;
  padding: .5em 0;
  background: #c8d1ce;
  -webkit-box-shadow: inset 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 14px -5px rgba(0, 0, 0, 0.75); }

.instagrams section {
  width: 100% !important; }

.mgl_instagram_pagination.mgl_instagram_skin_default {
  display: none; }

a.mgl_instagram_photo {
  max-width: 150px;
  float: right; }

.mgl_instagram_gallery div:last-of-type {
  float: right; }

.TBVpets {
  max-width: 100% !important;
  width: 100%; }

.TBVpets a.mgl_instagram_photo {
  max-width: 115px; }

.PCPets, .TTpets, .CDpets, .NBPets, .TBVpets {
  max-width: 24.9%;
  display: inline;
  float: left; }

.NBPets {
  float: left;
  max-width: 24.9%;
  display: inline;
  margin-right: 0px; }

.lowercallout {
  margin-bottom: 0em;
  font-size: 2em;
  position: relative;
  background: #EBECE5;
  display: table;
  margin: 0px auto !important;
  padding: 0 1em; }

.homecopy {
  padding: 2.5em 2em 2em;
  display: block;
  margin-top: -1.4em;
  border: 1px solid #5198B0;
  margin-bottom: 2em;
  max-width: 1000px;
  margin: -1.4em auto 2em;
  background: url(../img/happydog.png);
  background-repeat: no-repeat;
  background-position: 100% -20%; }

.homecopy a {
  color: #d73347; }

a.mgl_instagram_photo {
  min-width: 135px; }

span.mgl_instagram_text, .mgl_instagram_skin_default .mgl_instagram_photo .mgl_instagram_mask .mgl_instagram_info {
  display: none; }

span.mgl_instagram_avatar {
  display: none; }

span.mgl_instagram_info {
  display: none; }

.entry-content img.size-full, .entry-content img.size-medium {
  width: auto;
  max-width: 10000px !important;
  float: none; }

p.wp-caption-text {
  font-size: .8em;
  font-style: italic;
  max-width: 90%;
  display: block;
  margin: 0px auto; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after, header nav h1 a a:after, .carousel .carousel-tabs li a a:after, .fan span a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.flex {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.justify-around {
  justify-content: space-around; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.align-start {
  align-items: flex-start; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }

a {
  font-size: 14px;
  line-height: 21px;
  color: #363636; }

.link-wrapper {
  cursor: pointer; }

h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
  margin: 0; }

p {
  margin: 0; }

.button-blue {
  background-color: #0E546C;
  line-height: 28px;
  padding: 13px 45px;
  min-height: 55px;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: flex-start; }
  .button-blue:hover {
    text-decoration: none;
    color: white; }

.button-navy {
  background-color: #1496A2;
  line-height: 28px;
  padding: 13px 45px;
  min-height: 55px;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: flex-start; }
  .button-navy:hover {
    text-decoration: none;
    color: white; }

.l-h-30 {
  line-height: 30px; }

.circle-before {
  position: relative; }
  .circle-before:before {
    content: '';
    position: absolute;
    top: -56px;
    left: -38px;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #CAE0E7;
    z-index: -1; }

.circle-after {
  position: relative; }
  .circle-after:after {
    content: '';
    position: absolute;
    bottom: -35px;
    right: -22px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #CAE0E7;
    z-index: -1; }

.two-column > div:first-of-type {
  margin-right: 80px;
  max-width: 50%; }

.three-columns > * {
  width: 24%; }

.m-35 {
  margin: 35px 0; }

.m-b-35 {
  margin-bottom: 35px; }

.m-b-65 {
  margin-bottom: 65px; }

.m-t-35 {
  margin-bottom: 35px; }

.m-10 {
  margin: 10px 0; }

.m-24 {
  margin: 0 24px; }

.w-100 {
  font-weight: 100; }

.w-200 {
  font-weight: 200; }

.w-300 {
  font-weight: 300; }

.w-400 {
  font-weight: 400; }

.w-500 {
  font-weight: 500; }

.w-600 {
  font-weight: 600; }

.w-700 {
  font-weight: 700; }
