footer	{

	background: $footerbg;
	color: $footertxt;
	text-align: left;
	padding: 87px 100px 50px;
	clear: both;
	@extend .clearfix;

	.menus{
		margin-bottom: 85px;
		.footer_menu{
			padding: 0 10px;
			a {
				color: $footertxt;
				position:relative;
				&::before{
					content:'';
					position:absolute;
					top: 4px;
					left: -28px;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: $pale_blue;
					opacity: 0;
					transition: opacity .3s ease-in-out;
				}
				&:hover{
					text-decoration: none;
					color: $footertxt;
					&:before{
						opacity: 1;
					}
				}
			}

			h3	{
				margin-bottom: 35px;
				font-size: 18px;
				line-height: 150%;
			}

			ul	{

				list-style: none;
				padding: 0;
				margin: 0;
				li{
					line-height: 200%;
				}
			}
		}
	}

	.socials{
		padding: 8px 0;
		i {
			width: 20px;
			height: 20px;
			display: block;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin: 18px;
			&.icon-facebook {
				background-image: url(../img/icon_facebook.svg);
			}

			&.icon-instagram {
				background-image: url(../img/icon_instagram.svg);
			}

			&.icon-twitter {
				background-image: url(../img/icon_twitter.svg);
			}

			&.icon-youtube {
				background-image: url(../img/icon_youtube.svg);
			}
		}
	}


}