#main	{
	padding: 101px 160px 130px 65px;
	overflow: hidden;
	.welcome-section{
		.button-wrap{
			margin-top: 25px;
		}
	}
	#searchform{
		background-color: white;
		padding: 15px;
		margin-top: 40px;
		position: relative;

		&::before{
			content:'';
			position:absolute;
			bottom: 31px;
			left: 32px;
			width: 24px;
			height: 24px;
			background-image: url(../img/search.svg);
			z-index: 2;
		}
		input{
			&#s{
				position: relative;
				border: none;
				font-size: 14px;
				line-height: 28px;
				padding-left: 61px;
				flex-grow: 1;
				&::placeholder{
					color: $dark_gray;
				}
				&:focus, &:active{
					border: none;
				}
			}
			&#searchsubmit{
				padding: 13px 47px;
				background-color: $dark_navy;
				border-radius: 0;
				line-height: 28px;
			}
		}
		&:after{
			content:'';
			position:absolute;
			bottom: -35px;
			right: -22px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-color: $pale_blue;
			z-index: -1;
		}
	}

	.locations{
		margin-left: 27px;
	}


	.feature-video{
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.arrow-link-home{
		position: relative;
		padding: 5px 0;
		&:after{
			content:'';
			position:absolute;
			bottom: 0px;
			left: 0px;
			width: 64px;
			height: 8px;
			background-image: url(../img/arrow-link.svg);
			z-index: -1;
		}
		p{
			font-size: 16px;
			line-height: 24px;
		}
	}

	.links-section{
		padding: 87px 0;
	}

	.description-section{
		padding: 127px 0;
	}

	.video-section{
		padding: 100px 0;
	}

	.services-section{
		min-height: 900px;
		padding: 150px 0;
		.services-dog{
			width: 545px;
			background-image: url('../img/service-dog.png');
			background-position: bottom left;
			a{
				margin-top: 310px;
				margin-right: 75px;
			}
		}
		.slider{
			width: calc(100% - 545px);
			position: relative;
			.swiper-container{
				position: absolute;
				width: 150%;
			}
			.swiper-slide{
				min-width: 256px;
				.image_container{
					margin-bottom: 34px;
				}
			}
		}
	}

	.events-n-news-section{
		padding: 100px 0;
	}

	.slider-multiple{
		.swiper-button-disabled{
			opacity: 1;
		}
		.swiper-button-next, .swiper-button-prev{
			position: static;
			height: 8px;
			justify-content: flex-start;
			margin-top: 0;
			padding: 44px 0;
			&:after{
				content: '';
				height: 8px;
			}
		}
		.swiper-button-prev{
			width: 64px;
			margin-right: 32px;
			&:after{
				width: 64px;
				background-image: url('../img/arrow-prev.svg');
			}
		}
		.swiper-button-next{
			width: 160px;
			&:after{
				width: 160px;
				background-image: url('../img/arrow-next.svg');
			}
		}
		.slide-link{
			text-decoration: none;
		}
		a:not(.slide-link){
			display: none;
		}
		.image_container{
			border: 5px solid #FFFFFF;
			filter: drop-shadow(5px -5px 25px rgba(0, 0, 0, 0.1));
			padding-bottom: 125%;
			height: 0;
			background-size: cover;
			background-position: center;
		}
	}

	.content {

		.voterDiv {
			img {
				max-width: 100%;
			}
		}

		img {
			height: auto;
			max-width: 65%;
			margin: 3%;

			  &[title=slideshow] {
			    max-width: 94%;
		    }
		}
		.attachment img {
			max-width: 90%;
		}
		.alignleft,
		img.alignleft {
			display: inline;
			float: left;
			margin-right: 3%;
			margin-top: 1%;
		}
		.alignright,
		img.alignright {
			display: inline;
			float: right;
			margin-left: 3%;
			margin-top: 1%;
		}

		.vet-question-search {
			@extend .clearfix;

			a.main-categories {
				width: 24%;
				margin-right: 1%;
				margin-bottom: 2%;
				padding: 115px 0 10px 0;
				display: block;
				float: left;
				text-align: center;
				color: #333;
				text-decoration: none;
				font-size: 1.2em;
				font-weight: 700;

				border-radius: 8px;
				-moz-border-radius: 8px;
				-webkit-border-radius: 8px;
			}

			a#dogs { background: url(../img/dog-icon.png) no-repeat center 10px #4098b1; }
			a#cats { background: url(../img/cat-icon.png) no-repeat center 15px #4098b1; }
			a#reptiles { background: url(../img/reptile-icon.png) no-repeat center 20px #4098b1; }
			a#birds { background: url(../img/bird-icon.png) no-repeat center 10px #4098b1; }

			a:hover { opacity: .8; }


			form#q-search { display: block; margin-top: 0; margin-bottom: 4%; width: 100%; }
			input[type="text"]{ float: left; width: 75%; }
			input[type="submit"] { float: left; width: 20%; margin: 0 0 0 1%; padding: 1% 0.5%; }

		}

		.question {
			margin:3% 4%;

			font-size: .9em;

			h3	{
				font-weight: normal;

				font-size: 1.1em;
			}
		}

		.entry-meta {
			margin-top: 4%;
			border-top: 1px solid $light_gray;
			padding-top: 2%;
		}

		h2 .entry-meta {
			border-top: none !important;
		}

		.entry-utility {
			padding: 1% 2%;
			font-size: .8em;
		}

		#nav-below {
			border-top: 1px solid $light_gray;
			border-bottom: 1px solid $light_gray;
			font-size: 0.8em;
			padding: 2% 0;
		}

		.mr_social_sharing {
			img {
				max-width: 100%;
				width: 100%;
			}
		}

		#comments {
			margin: 4% 0;

			.navigation {
				font-size: 0.8em;
				padding: 2% 0;
			}

			form {
				.comment-notes {
					font-size: 0.8em;
					font-style: italic;
				}

				p {

					label {
						display: inline-block;
					}

					.required {
						color: $red;
					}

					input, textarea {
						width: 100%;
					}

					&.form-allowed-tags {
						font-size: 0.8em;
						color: $med_gray;
					}
				}
			}

			.commentlist {
				margin: 0;
				padding: 0;
				list-style: none;

				padding-bottom: 4%;
				margin-bottom: 4%;
				border-bottom: 1px solid $light_gray;


				.comment {

					position: relative;

					.avatar {
						position: absolute;
						top: 1%;
						left: 0;
						width: 12%;
						height: auto;
					}

					em.comment-awaiting-moderation {
						display: inline-block;
						padding-left: 17%;
						font-size: 0.7em;
						color: $med_gray;
					}

					div div {
						padding-left: 17%;

						&.comment-author {
							padding-top: 3%;

							cite {
								font-weight: bold;
							}
						}

						&.comment-meta {
							font-size: 0.8em;
						}

					}


					.children {
						list-style: none;
						list-style-image: none;
						padding-left: 15%;

						.children .children {
							/* FOURTH TIER. Let's remove that padding at this point... */
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}