.post	{ //Each <article> in the list of posts

	@extend .clearfix;
	margin-bottom: 1.2em;

	img	{

		border: 2px solid #fff;

		&:hover	{
			border: 2px solid $light_navy;
		}

	}

	h2	{
		margin: 0 0 .8em 0;
		line-height: 1.1em;
	}

	p a:last-child	{
		display: inline-block;
	}

	@media only screen and ($multicol)	{

		.post-content	{
			float: left;
			width: 70%;
			margin-right: 5%;
		}

		img	{
			float: left;
			// width: 25%;
			width: 30%;
			height:auto;
		}

	}

}

.more	{

	display: block;
	background-color: $light_navy;
	color: #fff;
	padding: .2em .6em;
	border-radius: .3em;
	float: right;

	&:hover	{
		color: #fff;
		text-decoration: none;
		background: $dark_gray;
	}

}

