//Colors & Backgrounds
$pawboxbgcolor: #C5C3B7;
$pawboxtxt: #555555;
$pawboxborder: #909187;
$pawboxbg: $pawboxbgcolor;

.pawbox	{

	background: $pawboxbg;
	border: 2px solid $pawboxborder;
	padding: 1em;
	color: $pawboxtxt;
	
	h2	{
		font-size: 1.3em;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		color: $pawboxtxt;
		padding-bottom: 2em;
		background: url(../img/side-rule.gif) no-repeat center bottom
	}
	
	ul	{
	
		padding-left: 1.5em;
		list-style: square;
		
		&.staff	{
		
			list-style: none;
			padding-left: 0;
			
			li {
				
				display: inline-block;
				width: 4.6em;
				height: 4.6em;
			
				img	{
				
					border: 2px solid #fff;
					width: 100%;
					height: 100%;
					
					&:hover	{
						border: 2px solid $light_navy;
					}
					
				}
				
			}
		
		}
		
		li {
			margin-bottom: .5em;
		}
	
	}
	
	a {
	
		color: $pawboxtxt;
	
		&.button	{
			
			color: #fff;
			
			&:hover	{
				text-decoration: none;
			}
			
		}
		
	}

}

.recent-posts, .staff-profiles	{
	@extend .pawbox;
}