// Base Layout

.content-leads	{

	@extend .clearfix;

	padding-top: 0;

	.supporting	{
		text-align: left;
		padding: 1em;
		background: transparent;
		
		.widget-container {
			margin-bottom : 2em;
		}
		
		form {
			background-color: #fff;
			border: 1px solid $light_gray;
			padding: 8%;
			font-size: .8em;
		}
		
		.event {
			span {
				display: block;
			}
		}
	}
	
	.supporting .xoxo { /* widget-list ul */ 
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-image: none;
	}

	.content	{
		text-align: left;
		padding: 1em;
		
		.pet-post {
			
			img {
				margin-top: 3% !important;
			}
		}
	}
	
	/* SIDEBAR STYLES CARRIED OVER FROM ORIGINAL THEME */

	.petbutton {
		border: none !important;
		background-color: $dark_gray;
		text-align: center;
		padding: 5% 10%;
		margin: 0 auto;
		max-width: 75%;
		display: block;
		
		color: $white_gray;
	
		&:hover {
			background-color: $light_gray;
			color: $dark_gray;
			text-decoration: none;
		}
	}
	
	.petlearnmore {
		color: $dark_gray;
		font-size:1.2em;
	}
	
	#text-3 { 
		background: #FFFFFF;
	    border: 1px solid #D3D5CA;
	    color: #909187;
	    font-size: .8em !important;
	    padding: .9em;
	    float: left;
	    width: 95%;
	
		h2 { 
			display: block;
		}
		
		p {
			margin-bottom: 1% !important;
		}
	}
	
	.widget_vetslocationwidget {
		.post.location img {
			margin-right: 2%;
			width: 90%;
		}
		
		.intro {
			float: left;
			width: 30%;
		}
		
		.info {
			float: left;
			width: 69%;
		
			.hours {
				font-size: .7em;
				color: $brown_gray;
			}
			
			.tiny {
				font-size: .7em;
				color: $brown_gray;
			}
		}
	}
	
	#mycategoryorder-2 {
		float: left;
		width: 95%;
		
		ul {
			margin: 0px !important;
			padding-left: 0px;
		}
		
		li {
			list-style: none;
			display: block;
			padding: 7px 11px;
			background: #F4F4EF;
			margin-bottom: 1px;
		
			a {
				text-decoration: none;
			}

			&:hover {
				background: #FFF;
			}
	
		}
		
		h2 {
			background: #5F829D;
			padding: 1% 2%;
			margin-bottom: 1px !important;
			color: #FFF;
		}
	}
	
	.what_is_container {
		display: none !important;
	}
	
	
	#recent-posts-4 {
		background: #C5C3B7;
	    padding: 2.3%;
	    float: left;
	    width: 95%;
	    border: 2px solid #B2B0A5;
	
		h2 {
			display: block;
		    color: #555555;
		    font-weight: bold;
		    padding-bottom: 10%;
		    margin-bottom: 0!important;
		    text-transform: uppercase;
		    background: url(../img/side-rule.gif) no-repeat bottom;
		}
		
		a {
		    color: #555555;
		
			&:hover {
			    color: #000;
			}
		}
		
		ul {
			list-style-type: square;
			list-style-image: none;
			padding-left: 20px;
		}
		
	}
	
	#tag_cloud-2 {
		float: left;
		
		.tagcloud{
			padding: 1% 2%;
			background: #F4F4EF;
		}
		
		h2 {
			background: #5F829D;
			padding: 1% 2%;
			margin-bottom: 1px !important;
			color: #FFF;
		}
	}
	
	#text-4 {
		clear: both;
	
		a.header-link {
		    color: #555555;
		    font-weight: bold;
		    text-transform: uppercase;
		    font-size: 1.3em;
		}
	}
	
	.available-locations {
		
		@extend .clearfix;
		
		.location-box {
			width: 45%;
			float: left;
			
			text-align: center;
			
			margin: 2%;
			
			.tiny {
				font-size: .7em;
			}
			
			@media only screen and ( $small ) {
				background-color: $mainbgaccent;
				
				padding: 4%;
			}
			
			@media only screen and ( $large ) {
				width: 23%;
				margin: 1%;
				padding: 3%;
			}
		}
	}
	
	@media only screen and ($multicol)	{
	
		margin-bottom: 1em;
		padding-top: 2em;
	
		.content, .supporting	{
			padding: 0;
		}
	
	}
	
	@media only screen and ($small)	{
		
		.content	{
			float: left;
			width: 60%;
			margin: 0 4% 1em 0;
		}
		
		.supporting	{
			float: left;
			width: 36%;
			margin: 0 0 1em 0;
			border-left: 1px solid $brown_gray;
			padding: 0 0 0 1em;
		}
		
	}

}