.staff-box {
	@extend .clearfix;
	
	border-bottom: 1px solid $light_gray;
	padding-bottom: 3%;
	margin-bottom: 3%;
	
	.staff-details {
		
		img {
			float: left;
			width: 30%;
			margin-right: 2%;
		}
		
		p {
			float: left;
			width: 62%;
		}
		
		.tiny {
			font-size: .7em;
		}
	}
	
	.staff-description {
		clear: both;
		float: left;
		width: 100%;
	}
	
	@media only screen and ($multicol)	{
		
		.staff-details {
			float: left;
			width: 26%;
			margin-right: 2%;
			
			padding: 2%;
			
			background-color: $pale_blue;
			
			.img-link {
				display: block;
				text-align: center;
				
				img {
					width: 100%;
					float: none;
					margin-right: 0;
				}
			}
			
			p {
				width: 100%;
				float: none;
				margin-right: 0;
				
				a {
					color: $med_navy;
				}
			}
		}
	
		.staff-description {
			width: 68%;
			clear: none;
			float: right;
		}
	
	}
	
}