#cta	{

	text-align: center;
	@extend .clearfix;

	ul	{
	
		list-style-image: url(../img/blue-arrow.png);
		font-weight: bold;
		color: $dark_navy;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		display: inline-block;
		text-align: left;
		
		em {
			font-weight: normal;
			font-size: .8em;
		}
		
		a {
			&:hover	{ text-decoration: none; }
		}
		
		.phone-no {
			font-size: .85em;
			margin: .6em 0 .95em;
			color: $med_navy;
			font-weight: 400;
			display: block;
		}
	
	}
	
	@media only screen and ($multicol)	{
		
		margin: 0 auto 1em;
		display: inline-block;
		
		ul	{
			float: left;
			margin: .35em 0 0;
			border-top: 1px solid $pale_blue;
		}
		
		li {
			padding: .375em 0;
			border-bottom: 1px solid $pale_blue;
		}
	
	}
	
	@media only screen and ($small)	{
	
		ul	{
		
			.phone-no {
				display: none;
			}
		}
		
	}
	
	@media only screen and ($med)	{
	
		float: left;
		margin: 0 2% 0 0;
		width: 40%;
		text-align: center;
		background-color: $mainbgaccent;
		padding-top: 1em;
		padding-bottom: 1em;
		
		ul	{
			float: none;
			border-top: none;
		}
		
		li {
			padding: .2em 0;
			border-bottom: none;
		}
	
	}
	
	@media only screen and ($large)	{
	
		width: 32%;
		
		ul	{
		
			.phone-no {
				display: none;
			}
		}

	
	}

}

#callout	{

	margin: 0;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 1.575em;
	text-align: center;
	line-height: 1.2em;
	color: $light_navy;

	strong, em	{
		display: block;
	}
	
	strong	{
		font-size: 1.1025em;
	}
	
	em {
		font-size: 2.05em;
		font-style: normal;
		font-weight: bold;
		line-height: .9em;
		color: $pale_blue;
	}
	
	span	{
		display: inline-block;
		font-size: .65em;
		font-weight: normal;
		background: $pale_blue;
		color: #fff;
		padding: .1em 1em;
		margin-top: .3em;
	}
	
	@media only screen and ($multicol)	{
	
		float: left;
		margin-right: 1em;
	
	}
	
	@media only screen and ($med)	{
	
		float: none;
		margin-right: 0;
	
	}

}