/*
Description: Landing Page Styles
Author: Big Sea Design
Template: twentyten
Version: 2.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/

-------------------------------------------------------------- */

#category-name h1{
	color:#fff !important;
}

.overlay{
	background: -moz-linear-gradient(top,  rgba(81,152,176,0.48) 0%, rgba(81,152,176,0.48) 68%, rgba(235,236,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,152,176,0.48)), color-stop(68%,rgba(81,152,176,0.48)), color-stop(100%,rgba(235,236,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(81,152,176,0.48) 0%,rgba(81,152,176,0.48) 68%,rgba(235,236,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(81,152,176,0.48) 0%,rgba(81,152,176,0.48) 68%,rgba(235,236,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(81,152,176,0.48) 0%,rgba(81,152,176,0.48) 68%,rgba(235,236,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(81,152,176,0.48) 0%,rgba(81,152,176,0.48) 68%,rgba(235,236,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a5198b0', endColorstr='#ebece5',GradientType=0 ); /* IE6-9 */

	padding: 2em;
	clear: both;
	display: inline-block;
	width: 100%;
}

.gform_wrapper {
    max-width: 40%;
    float: right;
    display: inline-block;
    min-width: 350px;
    background: rgba(255,255,255,0.8);
    padding: 1em 2em 2em;
    border-radius:10px;
    margin-bottom:2em;
}

.gform_button {
    padding: .8em 1em !important;
    display: block !important;
    width: 100%;
    font-size: 1.2em !important;
    border-bottom: 5px solid #5198B0 !important;
}

label.gfield_label {
    font-weight: 100 !important;
    font-size: 1.2em !important;
}

.gform_body label {
    color: #0F536D !important;
}

.content h1{
	color: #FFF !important;
	text-align:center !important;
	display:block !important;
	font-weight: 500 !important;
	text-transform: uppercase;
	font-size: 3em;
}

.content-leads .content{
	width:100% !important;
}

#main{
	padding:0px !important;
}

div#category-name {
    background-position-y: center;
}

 #wrapper > header nav ul {
          padding-left:190px;
          min-height: 25px !important;
          border-bottom: 3px solid #aaaaaa;
          background: #465357;
          text-align: left;
          margin-bottom: -1em !important; }
          
          
.page-template-page-landing-php p{
	display:block;
	float:left;
	max-width: 45%;
	color:#fff !important;
	padding: 1em;
	font-size: 1.5em !important;
}

.landinglower {
    display: block;
    clear: both;
    margin-top:2em;
}
.landinglower h3{
	color:#333 !important;
	font-weight:400;
}

