@import "css/bourbon/bourbon";

//Breakpoints
$multicol: 'min-width: 35em';
$small: 'min-width: 45em';
$med: 'min-width: 55em';
$large: 'min-width: 65em';
$xlarge: 'min-width: 75em';
$xxlarge: 'min-width: 85em';

//Type
$base: "proxima-nova-1","proxima-nova-2", "Lucida grande", sans-serif;
$condensed: "proxima-nova-condensed-1","proxima-nova-condensed-2", sans-serif;

//Colors
$mainbgcolor: #5198b0;
$mainbgaccent: #f2f3eb;
$navbg: #465357;
$navtxt: #aaaaaa;
$contentbg: #EBECE5;
$contenttxt: #555555;
$footerbg: #363e40;
$footertxt: #a6aeb0;
$locheaderbg: #2E3D41;


//Grays
$white_gray: #efefef;
$light_gray: #cccccc;
$med_gray: #666666;
$dark_gray: #444444;
$black_gray: #222222;
$brown_gray: #8D8E89;

//Brand Colors
$dark_navy: #0c4054;
$med_navy: #0f536d;
$light_navy: #5198B0;
$pale_blue: #8caeb5;
$red: #D73347;

//Backgrounds
$mainbg: $mainbgcolor url(../img/bg.png) repeat-x top left;

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.green-button, .button, .blue-button {
	text-decoration: none;
	padding: 10px 10px !important;
	border-radius:8px;
	-moz-border-radius: 8px;
	color:#fff !important;
	font-size: .8em !important;
	border:0;
	cursor: pointer;
	height:auto !important;
	display: block;
	line-height: .8em;
	text-align: center;
	margin: 0 0 10px;
}

.green-button, .button	{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6d19b', endColorstr='#68985c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#b6d19b), to(#68985c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #b6d19b,  #68985c); /* for firefox 3.6+ */
	
	&:hover {
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9eac7', endColorstr='#68985c'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#d9eac7), to(#68985c)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #d9eac7,  #68985c); /* for firefox 3.6+ */
	}	
}


.blue-button {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#719cbd', endColorstr='#5d819c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#719cbd), to(#5d819c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #719cbd,  #5d819c); /* for firefox 3.6+ */

	&:hover {
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84b1d3', endColorstr='#7499b4'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#84b1d3), to(#7499b4)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #84b1d3,  #7499b4); /* for firefox 3.6+ */
	}
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*	{
	@include box-sizing(border-box);
}

body	{
	background: $mainbg;
	font-family: $base;
	color: $dark_gray;
	
	//@media only screen and ($small)	{
	//	background: red;
	//}
	//@media only screen and ($med)	{
	//	background: green;
	//}
	//@media only screen and ($large)	{
	//	background: blue;
	//}
	//@media only screen and ($xlarge)	{
	//	background: black;
	//}
	
}

//Base Element Styles
@import 'css/base-elements.scss';


#wrapper {

	@extend .clearfix;
	
}
	
//Main Header
@import 'css/main-header.scss';

//Main Container
@import 'css/main-container.scss';
	
//Main Footer
@import 'css/main-footer.scss';

//Fine Print
@import 'css/fine-print.scss';

//Main Homepage Introduction
@import 'css/homepage-cta.scss';

//Main Homepage Carousel
@import 'css/carousel.scss';

//Homepage News
@import 'css/home-news.scss';

//Template with Left Sidebar
@import 'css/left-sidebar.scss';

//Template with Right Sidebar
@import 'css/right-sidebar.scss';

//News & Blog
@import 'css/news.scss';

//Location Pages
@import 'css/locations.scss';

//Staff Pages
@import 'css/staff.scss';

//Misc Components
@import 'css/location-blocks.scss';
@import 'css/pawbox.scss';
@import 'css/subscribe.scss';
@import 'css/fan.scss';


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}