#metabox-location {
	margin:10px; 
	Padding:10px;
}

.meta-field {
	margin:10px 5px;
	float:left;
}

.meta-field .label {
	margin: 5px 0;
}

#tbvets_city {width:150px;}
#tbvets_state {width:50px;}
#tbvets_zip {width:50px;}